.card {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding: 24px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* width: 968px; */
  width: 1184px;
}

.cardWrap {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  margin-bottom: 32px;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  flex: 1;
}

.label {
  color: #8a8a89;
}

.cardText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
 color: #121417;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  font-size: 14px;
  margin-bottom: 12px;
  height: 26px;
}

.itemIcon {
  display: flex;
  gap: 8px;
  /* flex-wrap: wrap; */
  align-items: center;
}

.itemText {
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #121417;
}

.heart {
  /* margin-left: 32px; */
  height: 26px;
  width: 26px;
}

.heartBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 26px;
}

.name {
  margin: 4px 0;
  font-size: 20px;
  font-weight: 600;
}

/* .speaks {
  font-size: 14px;
  color: #333;
} */



.bookOpen {
  width: 16px;
  height: 16px;
}

.lang {
  margin-right: 6px;
  text-decoration: underline;
  color: #1c1c1c;
}

.iconStar {
  width: 16px;
  height: 16px;
  color: #F4C550;
}

.price {
  color: green;
  font-weight: 600;
}

.favorite {
  margin-left: auto;
  cursor: pointer;
}

.cardList {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.cardListHide {
  margin-top: -16px;
  margin-bottom: 32px;
}

.cardListHide p {
  font-weight: 400;   
  line-height: 1.5;
  color: #121417;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.reviewerName {
  font-weight: 500;
  color: #8a8a89;
}

.reviewComment {
  font-weight: 500;
  line-height: 1.5;
  color: #121417;
}

.readMore {
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 0;
  /* margin: 12px 0; */
  /* padding: 6px 12px; */
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #121417;
}

.levels {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  list-style: none;
  padding: 0;
}

.level {
  padding: 8px 12px;
  background-color: #eee;
  border-radius: 35px;
  font-size: 14px;
  line-height: 1.14;
    color: #121417;
}

.level:not(:first-child) {
border: 1px solid rgba(18, 20, 23, 0.2);
background-color: transparent;
}

.highlight {
  background-color: #f4c550;
  color: #000;
  font-weight: 600;
}

.teacherMoreBtn {
  border-radius: 12px;
  padding: 16px 48px;
  width: 232px;
  height: 60px;
  background: #f4c550;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55;
  color: #121417;
  margin-top: 32px;
}