.card {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding: 24px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  width: 968px;
}

.cardWrap {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  margin-bottom: 32px;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  flex: 1;
}

.label {
  font-size: 12px;
  color: gray;
  margin-bottom: 4px;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  font-size: 14px;
  margin-bottom: 12px;
  height: 26px;
}

.itemIcon {
  display: flex;
  gap: 8px;
  /* flex-wrap: wrap; */
  align-items: center;
}

.itemText {
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #121417;
}

.heart {
  margin-left: 32px;
}

.name {
  margin: 4px 0;
  font-size: 20px;
  font-weight: 600;
}

.speaks {
  font-size: 14px;
  color: #333;
}

.bookOpen {
  width: 16px;
  height: 16px;
}

.lang {
  margin-right: 6px;
  text-decoration: underline;
  color: #1c1c1c;
}

.iconStar {
  width: 16px;
  height: 16px;
  color: #F4C550;
}

.price {
  color: green;
  font-weight: 600;
}

.favorite {
  margin-left: auto;
  cursor: pointer;
}

.readMore {
  margin: 12px 0;
  padding: 6px 12px;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: #1c1c1c;
}

.levels {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.level {
  padding: 4px 10px;
  background-color: #eee;
  border-radius: 20px;
  font-size: 12px;
}

.highlight {
  background-color: #f4c550;
  color: #000;
  font-weight: 600;
}
