.hero {
  display: flex;
  gap: 24px;
  /* margin-top: 20px; */
  margin-bottom: 24px;
}

.heroWrap {
  background: #f8f8f8;
  border-radius: 30px;
  padding: 98px 64px;
  width: 720px;
}

.heroTitle {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #121417;
  margin-bottom: 32px;
}

.heroTitle span {
  font-style: italic;
  font-weight: 400;
  background-color: #fbe9ba;
  border-radius: 8px;
}

.heroText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  color: #121417;
  margin-bottom: 64px;
  margin-right: 121px;
}

.heroBtn {
  border-radius: 12px;
  padding: 16px 88px;
  width: 267px;
  height: 60px;
  background-color: #f4c550;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  color: #121417;
  border: none;
}

.heroBtn:hover {
  background-color: #ffdc86;
}

.heroImg {
  width: 568px;
  height: 530px;
  /* flex: 1; */
  border-radius: 30px;
  background-color: #fbe9ba;
}
