.hero {
    display: flex;
}

.heroTitle {
    height: 530px;
    width: 720px;
}

.heroWrap {
    width: 568px;
    height: 530px;
    /* flex: 1; */
    border-radius: 30px;
    background-color: #FBE9BA;
}