.aboutWrap {
  border: 1.5px dashed #f4c550;
  border-radius: 30px;
  width: 1312px;
  height: 116px;
  padding: 40px 122px;
}

.aboutList {
  display: flex;
  gap: 100px;
}

.aboutItem {
  display: flex;
  gap: 16px;
}

.aboutItemTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: #121417;
  flex-shrink: 0;
}

.aboutItemText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
}
