.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    padding: 64px;
    width: 566px;
    border-radius: 30px;
    position: relative;
}

.form {
    background: white;
}

.closeBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background-color: transparent;

}

.iconClose {
    width: 32px;
    height: 32px;
}

.modalTitle {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #121417;
    margin-bottom: 20px;
}

.modalText {
    line-height: 1.37;
    color: rgba(18, 20, 23, 0.8);
    margin-bottom: 40px;
}

.formList {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.37;
    color: #121417;
    width: 438px;
    height: 54px;
    padding: 16px 18px;
    border: 1px solid rgba(18, 20, 23, 0.1);
        border-radius: 12px;
}

.form button {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    color: #121417;
    margin-top: 40px;
    border-radius: 12px;
    padding: 16px auto;
    width: 438px;
    height: 60px;
    background: #f4c550;
}
