.teachersPage {
  background: #f8f8f8;
  width: 1440px;
  padding: 96px 128px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* .pagination button {
  margin: 0 4px;
  padding: 6px 10px;
  border: none;
  background-color: #eee;
  cursor: pointer;
}

.pagination button.active {
  background-color: #f4c550;
} */
 .teachersPage {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.teachersList {
  list-style: none;
  padding: 0;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  /* display: flex;
  flex-direction: column; */
  gap: 24px;
}

.loadMoreBtn {
  margin: 32px auto 0;
  display: block;
  padding: 12px 24px;
  background-color: #f4c550;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

